
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
  }
  
  #myBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: 0 0;
    width: 40px;
    height: 40px;
    text-shadow: none;
    border-radius: 11px;
    padding: 13px;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    will-change: transform;
    -webkit-transform: rotate(-11deg);
    transform: rotate(-11deg);
    -webkit-transition: background-color .1s ease-out,opacity .1s ease-out,-webkit-transform .2s ease-out;
    transition: background-color .1s ease-out,opacity .1s ease-out,-webkit-transform .2s ease-out;
    transition: background-color .1s ease-out,transform .2s ease-out,opacity .1s ease-out;
    transition: background-color .1s ease-out,transform .2s ease-out,opacity .1s ease-out,-webkit-transform .2s ease-out;
    background-color: #fcb281;
    opacity: 67%;
  }
  
  #myBtn:hover {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  
  #myBtn:before {
    display: block;
    content: "";
    height: 90%;
    width: 120%;
    position: absolute;
    background-image: url(../images/shadow.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 100%;
    left: 0;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    -webkit-transform-origin: 30% 50%;
    transform-origin: 30% 50%;
    pointer-events: none;
  }
  