.slider_2 {

    .text_part {
        font-size: 1.5rem;
    }

    .image_part:hover {

        opacity: 0.85;

    }


    .slick-next:before {
        position: absolute;
        right: 42px;
        color: gray;
        font-size: 42px;
    }
}