/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header .header-part1 a {
  color: white;
  text-decoration: none;
}

header .header-part2 .search-box___form {
  background-color: #eeeeee;
  border: 0px;
  border-radius: 0px;
}

header .header-part2 .search-box___btn {
  background-color: #333333;
  border: 0px;
  border-radius: 0px;
}

header .header-part2 .search-box__icon {
  color: white;
  font-size: 19px;
}

header .header-part2 a {
  color: black;
}

header .header-part2 a:hover {
  color: #ed1c24 !important;
}

header .header-part2 .shop-icon {
  font-size: 1.5rem;
}

header .header-part3 .nav-link {
  color: black !important;
  font-size: 17.5px;
  font-weight: bold;
}

header .header-part3 .nav-link:hover {
  color: #ed1c24 !important;
}

header .header-part3 .nav-link:active {
  color: red !important;
}

header .header-part3 a {
  color: pink;
}

a {
  text-decoration: none;
}

.slider_1 .slick-prev, .slider_1 .slick-next {
  z-index: 3;
  margin: 3rem !important;
}

.slider_1 .slick-prev:before, .slider_1 .slick-next:before {
  color: gray;
}

footer .part_1 .footer-icons a {
  color: gray;
}

footer .part_1 .footer-icons a:hover {
  color: red;
}

footer .part_1 .footer-items a {
  color: gray;
}

footer .part_1 .footer-items a:hover {
  color: red;
}

footer .part_2 .search-box___form {
  background-color: #eeeeee;
  border: 0px;
  border-radius: 5px;
}

footer .part_2 .search-box___btn {
  background-color: #333333;
  border: 0px;
  border-radius: 5px;
  color: white;
}

footer .part_2 .search-box___btn:hover {
  background-color: #ed1c24;
}

footer .part_2 .part_2__text-part .text1 {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

footer .part_3 h6 {
  font-size: 1.25rem;
}

.slider_8 {
  background-image: url("../../image/bg-clients.jpg");
}

.slider_8 .shadow-box {
  background-color: rgba(0, 0, 0, 0.6);
}

.slider_8 .slick-dots li button:before {
  font-size: 12px;
  color: white;
  opacity: 0.75;
}

.slider_8 .slick-dots li.slick-active button:before {
  color: #ed1c24;
  opacity: 1;
}

.slider_8 .slider8_header {
  font-size: 1.5rem;
}

.slider_8 .slider8_text {
  line-height: 2rem;
}

.products .products__header {
  font-size: 20px;
}

.products .products__body {
  line-height: 2.05rem;
}

.products .products__body a {
  color: black !important;
}

.products .products__body a:hover {
  color: #ed1c24 !important;
}

.products .products__body .products__cost {
  color: #ed1c24 !important;
  font-size: 1.35rem;
}

.products .products__img a:hover img {
  border: 1px solid #ed1c24 !important;
}

.labels .slick-prev.slick-disabled:before,
.labels .slick-next.slick-disabled:before {
  opacity: 0;
}

.labels .Items {
  z-index: -3;
}

.labels .Items img {
  opacity: 0.5;
}

.labels .slick-prev {
  left: -2%;
  top: 42%;
}

.labels .slick-next {
  right: 0%;
  top: 42%;
}

.labels .responsive_7:hover .slick-prev.slick-disabled:before,
.labels .responsive_7:hover .slick-next.slick-disabled:before {
  opacity: 0.5;
  color: #dad9d9;
  font-size: 3rem;
  z-index: 15;
}

.labels .responsive_7:hover .slick-prev.slick-disabled:before:hover,
.labels .responsive_7:hover .slick-next.slick-disabled:before:hover {
  color: red;
  background-color: pink;
}

.labels .Items:hover img {
  opacity: 1;
}

.FEATUREDPRODUCTS .products__body {
  line-height: 2.05rem;
}

.FEATUREDPRODUCTS .products__body a {
  color: black !important;
}

.FEATUREDPRODUCTS .products__body a:hover {
  color: #ed1c24 !important;
}

.FEATUREDPRODUCTS .products__body .products__cost {
  color: #ed1c24 !important;
  font-size: 1.35rem;
}

.FEATUREDPRODUCTS .products__btn {
  color: #444;
  border: 1px solid #e5e5e5 !important;
}

.FEATUREDPRODUCTS .icon-item {
  opacity: 0;
}

.FEATUREDPRODUCTS .card:hover .products__btn {
  color: white;
  background-color: #ed1c24;
  border: 1px solid #ed1c24 !important;
}

.FEATUREDPRODUCTS .card:hover img {
  opacity: 0.5;
}

.FEATUREDPRODUCTS .card:hover .icon-item {
  background-color: #444;
  opacity: 0.85;
}

.FEATUREDPRODUCTS .card:hover .icon-item:hover {
  background-color: #ed1c24;
  opacity: 1;
}

.FEATUREDPRODUCTS .FEATUREDPRODUCT-Sposition__icon-group {
  top: 30%;
  left: 25%;
}

.FEATUREDPRODUCTS .FEATUREDPRODUCT-Sposition__icon-group a {
  color: white;
}

.FEATUREDPRODUCTS .FEATUREDPRODUCTS__text1 {
  font-size: 30px;
}

.FEATUREDPRODUCTS .FEATUREDPRODUCTS__text2 {
  font-size: 15px;
  line-height: 1.5rem;
}

.FEATUREDPRODUCTS .icon-new {
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align-content: center; */
  background-color: #1cc48f;
  font-size: 0.9rem;
  border: #1cc48f;
}

.FEATUREDPRODUCTS .slick-prev:before,
.FEATUREDPRODUCTS .slick-next:before {
  font-size: 3rem;
  color: gray;
  opacity: 0;
}

.FEATUREDPRODUCTS .responsive_6:hover .slick-prev:before,
.FEATUREDPRODUCTS .responsive_6:hover .slick-next:before {
  opacity: 0.75;
}

.dealsoftheweek .slick-prev:before,
.dealsoftheweek .slick-next:before {
  opacity: 0;
}

.dealsoftheweek .sss {
  width: 13rem !important;
  border: #ed1c24 solid 1px !important;
}

.dealsoftheweek .text-1 {
  color: #ed1c24;
  font-size: 30px;
}

.dealsoftheweek .rounded-circle {
  background-color: #ed1c24;
}

.dealsoftheweek .item-nav img {
  width: 15rem !important;
  border: #ed1c24 solid 1px;
}

.dealsoftheweek .slider-nav:hover .slick-prev:before,
.dealsoftheweek .slider-nav:hover .slick-next:before {
  font-size: 45px;
  line-height: 2rem;
  color: gray;
  opacity: 0.75;
}

.dealsoftheweek .slider-nav:hover .slick-prev:before button:hover,
.dealsoftheweek .slider-nav:hover .slick-next:before button:hover {
  color: #ed1c24;
}

.dealsoftheweek *,
.dealsoftheweek ::after,
.dealsoftheweek ::before {
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

.dealsoftheweek .cost-after {
  color: #ed1c24;
  font-size: 1.75rem;
}

.dealsoftheweek .cost-before {
  font-size: 1.35rem;
}

.dealsoftheweek .text-title {
  font-size: 1.75rem;
}

.dealsoftheweek .text-body_top a {
  font-size: 1.25rem;
  color: black;
}

.dealsoftheweek .text-body_top a:hover {
  color: #ed1c24;
}

.dealsoftheweek .text-midlle {
  line-height: 1.75rem;
}

.dealsoftheweek .btn-item {
  color: white;
  background-color: #ed1c24;
  border: #ed1c24 1px solid;
}

.dealsoftheweek .btn-item:hover {
  background-color: #c61017;
  border: #c61017 1px solid;
}

.dealsoftheweek .icon-item {
  background-color: white;
  color: black;
  border: black 1px solid;
}

.dealsoftheweek .icon-item:hover {
  background-color: #ed1c24;
  color: white;
  border: #ed1c24 1px solid;
}

.featured-prouducts .header {
  font-size: 2rem;
}

.featured-prouducts .nav-link {
  color: black;
}

.featured-prouducts .nav-link:hover {
  color: white;
  background-color: black;
}

.featured-prouducts .nav-pills .nav-link.active,
.featured-prouducts .nav-pills .show > .nav-link {
  background-color: black !important;
}

.featured-prouducts .icon-new {
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align-content: center; */
  background-color: #1cc48f;
  font-size: 0.9rem;
  border: #1cc48f;
}

.featured-prouducts .slick-prev:before,
.featured-prouducts .slick-next:before {
  font-size: 3rem;
  color: gray;
  opacity: 0;
}

.featured-prouducts .responsive_4:hover .slick-prev:before,
.featured-prouducts .responsive_4:hover .slick-next:before {
  opacity: 0.75;
}

.featured-prouducts .products__body {
  line-height: 2.05rem;
}

.featured-prouducts .products__body a {
  color: black !important;
}

.featured-prouducts .products__body a:hover {
  color: #ed1c24 !important;
}

.featured-prouducts .products__body .products__cost {
  color: #ed1c24 !important;
  font-size: 1.35rem;
}

.featured-prouducts .products__btn {
  color: #444;
  border: 1px solid #e5e5e5 !important;
}

.featured-prouducts .icon-item {
  opacity: 0;
}

.featured-prouducts .card:hover .products__btn {
  color: white;
  background-color: #ed1c24;
  border: 1px solid #ed1c24 !important;
}

.featured-prouducts .card:hover img {
  opacity: 0.5;
}

.featured-prouducts .card:hover .icon-item {
  background-color: #444;
  opacity: 0.85;
}

.featured-prouducts .card:hover .icon-item:hover {
  background-color: #ed1c24;
  opacity: 1;
}

.featured-prouducts .FEATUREDPRODUCT-Sposition__icon-group {
  top: 30%;
  left: 25%;
}

.featured-prouducts .FEATUREDPRODUCT-Sposition__icon-group a {
  color: white;
}

.shopdeals h3 {
  font-size: 2rem;
}

.shopdeals .shopdeals__text {
  line-height: 1.25rem;
}

.shopdeals .text-slider-3 {
  opacity: 0.75;
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
}

.shopdeals .responsive_3:hover .slick-prev:before, .shopdeals .responsive_3:hover .slick-next:before {
  font-size: 3rem;
  line-height: 1;
  color: gray;
}

.slider_2 .slick-prev, .slider_2 .slick-next {
  margin: 0 4rem;
  z-index: 3;
}

.slider_2 .slick-prev:before, .slider_2 .slick-next:before {
  color: gray;
}

.BOXES-6 {
  background-image: url(../../image/bg-post.jpg);
}

.BOXES-6 .date_part {
  position: absolute;
  top: 2%;
  left: 2%;
  background-color: black;
  color: white;
  font-size: 17px;
  opacity: 0.75;
}

.BOXES-6 .header_text {
  color: white;
  font-size: 1.20rem;
  line-height: 1.25rem;
}

.BOXES-6 .header_text:hover {
  color: #ed1c24;
}

.BOXES-6 .text-linked {
  color: gray;
}

.BOXES-6 .text-linked a {
  color: gray;
}

.BOXES-6 .text-linked a:hover {
  color: white;
}

.BOXES-6 .text-midlle {
  line-height: 1.25rem;
}

.BOXES-6 .bottom_text {
  color: #ed1c24;
}

.BOXES-6 .text-part {
  background-color: #171716;
}
/*# sourceMappingURL=main.css.map */