@import 'standard';
@import 'variables';
@import 'header';
@import 'common';
@import 'slider_1';
@import 'footer';
@import 'slider8';
@import 'products';
@import 'labels';
@import 'FEATUREDPRODUCTS';
@import 'dealsoftheweek';
@import 'featured-prouducts';
@import 'shopdeals';
@import 'slider_2';
@import '6_boxed';


