/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header .header-part1 a {
  color: white;
  text-decoration: none;
}

header .header-part2 .search-box___form {
  background-color: #eeeeee;
  border: 0px;
  border-radius: 0px;
}

header .header-part2 .search-box___btn {
  background-color: #333333;
  border: 0px;
  border-radius: 0px;
}

header .header-part2 .search-box__icon {
  color: white;
  font-size: 19px;
}

header .header-part2 a {
  color: black;
}

header .header-part2 a:hover {
  color: #ed1c24 !important;
}

header .header-part2 .shop-icon {
  font-size: 1.5rem;
}

header .header-part3 .nav-link {
  color: black !important;
  font-size: 17.5px;
  font-weight: bold;
}

header .header-part3 .nav-link:hover {
  color: #ed1c24 !important;
}

header .header-part3 .nav-link:active {
  color: red !important;
}

header .header-part3 a {
  color: pink;
}

a {
  text-decoration: none;
}

footer .part_1 .footer-icons a {
  color: gray;
}

footer .part_1 .footer-icons a:hover {
  color: red;
}

footer .part_1 .footer-items a {
  color: gray;
}

footer .part_1 .footer-items a:hover {
  color: red;
}

footer .part_2 .search-box___form {
  background-color: #eeeeee;
  border: 0px;
  border-radius: 5px;
}

footer .part_2 .search-box___btn {
  background-color: #333333;
  border: 0px;
  border-radius: 5px;
  color: white;
}

footer .part_2 .search-box___btn:hover {
  background-color: #ed1c24;
}

footer .part_2 .part_2__text-part .text1 {
  font-size: 1.25rem;
  line-height: 2.5rem;
}

footer .part_3 h6 {
  font-size: 1.25rem;
}

.slider_8 {
  background-image: url("../../image/bg-clients.jpg");
}

.slider_8 .shadow-box {
  background-color: rgba(0, 0, 0, 0.6);
}

.slider_8 .slick-dots li button:before {
  font-size: 12px;
  color: white;
  opacity: 0.75;
}

.slider_8 .slick-dots li.slick-active button:before {
  color: #ed1c24;
  opacity: 1;
}

.slider_8 .slider8_header {
  font-size: 1.5rem;
}

.slider_8 .slider8_text {
  line-height: 2rem;
}

.products .products__header {
  font-size: 20px;
}

.products .products__body {
  line-height: 2.05rem;
}

.products .products__body a {
  color: black !important;
}

.products .products__body a:hover {
  color: #ed1c24 !important;
}

.products .products__body .products__cost {
  color: #ed1c24 !important;
  font-size: 1.35rem;
}

.products .products__img a:hover img {
  border: 1px solid #ed1c24 !important;
}
/*# sourceMappingURL=main.css.map */