@import 'variables';

.BOXES-6 {
    background-image: url(../../image/bg-post.jpg);

    .date_part{
        position: absolute;
        top: 2%;
        left:2%;
        background-color: black;
        color: white;
        font-size: 17px;
        opacity: 0.75;
    }

    .header_text {
        color: white;
        font-size: 1.20rem;
        line-height: 1.25rem;

        &:hover {
            color: $text-red;

        }
    }

    .text-linked {
        a{
            color:gray;
            &:hover{
                color: white;
            }
            
        }
        color: gray;


    }

    .text-midlle {
        line-height: 1.25rem;
    }

    .bottom_text {
        color: $text-red;

    }



    .text-part {
        background-color: #171716;
    }


}