@import 'variables';

.shopdeals{

    h3{
        font-size: 2rem;
    }


    .shopdeals__text{
        line-height: 1.25rem;

    }

   .text-slider-3 {
        opacity: 0.75;
        position: absolute;
        z-index: 10;
        bottom: 0;
        left: 0;
        right: 0;
    }


    .responsive_3:hover{

        .slick-prev, .slick-next{
            z-index: 3;
            margin: 3rem !important;
        }
        
        .slick-prev:before, .slick-next:before{
            color:gray;
        }
        
        // font-size: 3rem;
        // line-height: 1;
        // color: gray;

 
    }

    


}

