.slider_8 {

    background-image: url('../../image/bg-clients.jpg');
    background-size: auto;


    .shadow-box {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .slick-dots li button:before {
        font-size: 12px;
        color: white;
        opacity: 0.75;
    }

    .slick-dots li.slick-active button:before {
        color: $text-red;
        opacity: 1;
    }

    .slider8_header {
        font-size: 1.5rem;
    }

    .slider8_text {
        line-height: 2rem;
    }
}