@import 'variables';

.slider_1{

    .slick-prev, .slick-next{
        z-index: 1;
        margin: 0 3rem !important;
    }
    
    .slick-prev:before, .slick-next:before{
        color:gray;
    }
}